<p id="notice"><%= notice %></p>

<p>
  <b>Section:</b>
  <%= @add_section_to_page.section_id %>
</p>


<%= link_to 'Edit', edit_add_section_to_page_path(@add_section_to_page) %> |
<%= link_to 'Back', add_section_to_pages_path %>
