/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "compass";
@import "compass/reset";



body {
	direction: rtl;
	font-family:MPR
}

header {
	ul.menu {
		& > li {

			&:first-child, &:nth-child(2), &:nth-child(3) {
				float: right;
			}
			&:last-child, &:nth-last-child(2), &:nth-last-child(3) {
				float: left;
			}
			ul {
				display: none;
			}
			&:hover {
				ul {
					display: block;
				}
			}
		}
	}

	#logo {
		margin: auto;
		display: inline-block;
	}
}



/****** Fonts *************/
@font-face {
	font-family: 'MPR'; 
	src:url('http://www.appleseeds.org.il/fonts/MeodedPashut_OERegular.ttf') format("truetype"); 
	src: url('http://www.appleseeds.org.il/fonts/meodedpashut_oeregular-webfont.eot'); 
	src: local('MeodedPashut_OE'), local('MeodedPashutOERegular'), url('http://www.appleseeds.org.il/fonts/meodedpashut_oeregular-webfont.woff') format('woff'), url('http://www.appleseeds.org.il/fonts/meodedpashut_oeregular-webfont.svg#webfont4Amd3DHq') format('svg'); 
	font-weight: normal; font-style: normal;
}
@font-face {font-family: 'MPL'; src: url('http://www.appleseeds.org.il/fonts/meodedpashut_oelight-webfont.eot'); src: local('MeodedPashut_OE'), local('MeodedPashutOELight'), url('http://www.appleseeds.org.il/fonts/meodedpashut_oelight-webfont.woff') format('woff'), url('http://www.appleseeds.org.il/fonts/meodedpashut_oelight-webfont.svg#webfontmdLFVb5l') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'MPB'; src: url('http://www.appleseeds.org.il/fonts/MeodedPashut_OEBold.ttf') format("truetype"); src: url('http://www.appleseeds.org.il/fonts/meodedpashut_oebold-webfont.eot'); src: local('MeodedPashut_OE'), local('MeodedPashutOEBold'), url('http://www.appleseeds.org.il/fonts/meodedpashut_oebold-webfont.woff') format('woff'), url('http://www.appleseeds.org.il/fonts/meodedpashut_oebold-webfont.svg#webfontSC9Su31c') format('svg'); font-weight: bold; font-style: normal;}

@font-face {font-family: 'DR'; src: url('http://www.appleseeds.org.il/fonts/Gudea-Regular.otf') format("truetype"); font-weight: normal; font-style: normal;}
@font-face {font-family: 'DI'; src: url('http://www.appleseeds.org.il/fonts/Gudea-Italic.otf') format("truetype"); font-weight: normal; font-style: normal;}
@font-face {font-family: 'DB'; src: url('http://www.appleseeds.org.il/fonts/Gudea-Bold.otf') format("truetype"); font-weight: bold; font-style: normal;}


